<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <title>{{$home_seo_site_title}}</title>
    <meta name="keywords" content="{{$home_seo_site_keywords}}">
    <meta name="description" content="{{$home_seo_site_description}}">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/base.min.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <script src="__JS__/jquery-3.3.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/layer.js"></script>
    <script src="__JS__/main.js"></script>
    <script src="__JS__/sendAjax.js"></script>
    <script src="__JS__/scrolltopcontrol.js"></script>
    <!-- <script src="__JS__/productCart.js"></script> -->
    
</head>