<!DOCTYPE html>
<html lang="en">

{{include file="public/head" /}}

<body>
<!--头部-->
{{include file="public/header" /}}
<!--头部-->

<div class="faq container">
    <div class="hade_img">
        <img src="__IMAGE__/ZOOM COIN MATELAS LCC.jpg" alt="">
    </div>
    <div class="explanatory_note">
        <div class="explain" style="border: none;">
            <div class="explanatory_tetle">售后质保
            </div>
        </div>
        <div class="sleepSchedule">
            <div class="title">
                保用服务程序
            </div>
            <div class="one">
                <div class="one_title rowHeight">
                    1 请于送货后14天内按指示填妥及寄回三包凭证。妥善保存由TRECA店或其他特约经销商所发出的有效单据及三包凭证。
                </div>
                <div class="one_title rowHeight">
                    2 提请保用服务时，请致电TRECA销售顾问，并提供购买记录以便跟进。
                </div>
                <div class="one_title rowHeight">
                    3 当工作人员到府上进行产品检查或维修时，请出示三包凭证及单据存根。
                </div>


                <div class="noe_text">ⓐ.保用期限由送货之日起计算。

                </div>
                <div class="noe_text">ⓑ.需享用保用服务时，须出示三包凭证及购买单据存根。如未能提供有关购买记录，TRECA保留拒绝提供保用服务之权利。

                </div>
                <div class="one_title rowHeight">
                    4 床垫及床架保用服务不包括范围。
                </div>

                <div class="noe_text">
                    ⓐ.对产品软硬程度及舒适感之个人感觉或偏好。

                </div>
                <div class="noe_text">
                    ⓑ.床垫表面少于1.5cm的轻微下陷。

                </div>
                <div class="noe_text">
                    ⓒ.产品曾遭弄污、燃烧、毁坏或保养不当所导致的损毁、屈曲、折叠床垫；于床垫/床架上站立、跳跃或坐于床垫边陲 位置等，均视为保养不当。

                </div>
                <div class="noe_text">
                    ⓓ.床垫表面布料及配件、床垫边陲定形边框线的人为损毁。

                </div>
                <div class="noe_text">
                    ⓔ.床垫侧面的把手：此把手只供辅助调整床垫位置，不能用作搬运或翻动床垫。

                </div>
                <div class="noe_text">
                    ⓕ.床垫如因放置于规格不符或承托力欠佳之床架上（如底纹架或排骨架或板床）所造成的损毁。

                </div>
                <div class="noe_text">
                    ⓖ.因不适当清洗所导致的任何损毁及污渍。

                </div>

            </div>

        </div>
    </div>
</div>
<!--底部-->
{{include file="public/footer" /}}
<!--底部-->
</body>

</html>