<!DOCTYPE html>
<html lang="en">

{{include file="public/head" /}}

<body>

<!--头部-->
{{include file="public/header" /}}
<!--头部-->

<div class="faq container">
    <div class="hade_img">
        <img src="__IMAGE__/ZOOM COIN MATELAS LCC.jpg" alt="">
    </div>
    <div class="explanatory_note">
        <div class="explain" style="border: none;">
            <div class="explanatory_tetle">退换货服务</div>
        </div>
        <div class="sleepSchedule">
            <div class="title">


            </div>
            <div class="one">
                <div class="one_title  rowHeight">
                    产品“三包”服务政策 <br>
                    尊敬的客户：
                </div>
                <div class="one_title  rowHeight">
                    您好！

                </div>
                <div class="one_title  rowHeight">
                    感谢您享用TRECA的产品和服务，选择TRECA会让您拥有优质睡眠、保持身心健康，也祝愿您人生从此更加精彩！
                    为了维护您的合法权益，您可依照《中华人民共和国消费者权益保护法》和国家相关规定，凭本产品“三包”服务政策、购货发票、订购合同或其他任一有效购货凭证，均可享受TRECA为您提供的高品质服务，也以此回报您对TRECA的关心和厚爱，TRECA在国家规定的“三包”服务基础上提供产品“三包”服务政策如下：

                </div>

                <div class="one_title  rowHeight">
                    一、30天内免费维修、换货、退货。<br>
                    您购买TRECA产品后，自经销商送货之日起30天（含第30天）出现产品功能性、结构性、外观等严重质量问题时， 您可以选择维修、换货或退货。


                </div>

                <div class="one_title  rowHeight">
                    二、TRECA配套出售的电子产品及其他日用品（床上用品、饰品类产品），则依产品生产厂家提供的保修卡及三包服务政策办理。

                </div>
                <div class="one_title  rowHeight">
                    三、如TRECA经销商与客户另有协议，则以TRECA经销商与用户签订的协议为准。

                </div>
                <div class="one_title  rowHeight">
                    四、产品保修例外
                    如属下述情况之一，均不在保修承诺范围之内，客户可选择有偿服务。

                </div>
                <div class="noe_text">1 产品或部件已经超出免费保修期
                </div>
                <div class="noe_text">2 外部设备、附加的第三方产品或零部件及根据用户要 求装入，附加的产品或零部件。
                </div>
                <div class="noe_text">3 未按产品使用说明书要求使用，造成产品损坏。
                </div>
                <div class="noe_text">4 因个人自行拆装不当造成的损坏
                </div>
                <div class="noe_text">5 因意外因素或人为原因导致的故障或损坏
                </div>
                <div class="noe_text">6 因自然灾害等不可抗力（如地震、火灾等）原因造成的 故障或损坏。
                </div>
                <div class="noe_text">7 对局部存在质量缺陷进行特价处理，并且在保修卡或 订购合同上注明特价产品的。
                </div>
                <div class="noe_text">8 无法提供有效的产品保修起始日期
                </div>
                <div class="noe_text">9 对产品软硬程度及舒适感个人感觉或偏好。
                </div>
                <div class="one_title  rowHeight">五、服务方式与时效
                </div>
                <div class="noe_text">
                    1 全国联保
                    TRECA产品实行全国范围内联保；无论您在中华人民共和国境内任何授权实体店购买并使用TRECA产品出现保修范围内的产品功能性、结构性、外观等严重质量问题，
                    请咨询TRECA全国统一客服热线：400-895-1922，均可凭本产品“三包”服务政策、购货发票、订购合同或其 他任一有效购货凭证获得就近经销商的优质服务。

                </div>
                <div class="noe_text">2 处理时效
                    在您产品报修或投诉以后，我们将于4小时内响应并承诺上门服务时间，3个工作日内为您提供上门服务，上门后1-3个工作日内提供问题的解决方案。
                </div>
                <div class="one_title  rowHeight">
                    六、首次上门安装有偿服务标准 <br>
                    首次送货安装调试服务：当您购买我们的产品后，如果您所在的位置与我们当地经销商的距离在30公里以内，将免费提供首次送货安装和调试服务，如果您所在的位置与我们当地经销商的距离在30公里以上（含30公里），则由当地经销商根据当地的收费标准适当收取送货费用，或与您协商收费标准。

                </div>
                <div class="one_title  rowHeight">
                    七、服务流程

                </div>
                <div class="noe_text">
                    1 您可以拨打TRECA统一客服热线400-895-1922的方式与TRECA客服人员取得联系，TRECA客服人员会给您提供专业的咨询与解答。

                </div>
                <div class="noe_text">
                    2 您可以登陆TRECA的官方网站（http://www.treca.cn）,将您的问题填写后提报给TRECA总部，客服人员将及时跟您联系并回复您的问题。
                </div>
                <div class="noe_text">
                    3 您可以直接与TRECA当地经销商进行联系。

                </div>
                <div class="noe_text">
                    ⓐ.TRECA当地经销商会帮助您进行维修或质保
                </div>
                <div class="noe_text">
                    ⓑ.TRECA当地经销商如不能够解决您的问题，将会把产品返回到TRECA总部，由TRECA专业技术人员负责维修或质保

                </div>
                <div class="noe_text">
                    4 TRECA客服将对您提报的服务问题进行跟踪和回访，确保您满意
                    如果您对TRECA的产品或服务有疑问或不认可，您可以拨打TRECA的客服专线400-895-1922，客服人员将竭诚为您服务。

                </div>
                <div class="one_title rowHeight">
                    八、产品维修、服务记录 <br>
                    在每次维修、服务结束以后，您可以要求工程师详细填写维修、服务记录并由工程师签名。
                    购买TRECA套床的客户可享受前5年每年2次的免费上门服务（注：需提前15天电话预约），第六年开始，如需 上门服务须收取适当的费用。
                    售后处置声明：报废产品请交与有资质的回收站及厂家进行回收。


                </div>
                <div class="noe_text">

                </div>
            </div>

        </div>
    </div>
</div>

<!--底部-->
{{include file="public/footer" /}}
<!--底部-->

</body>

</html>