<!DOCTYPE html>
<html lang="en">

{{include file="public/head" /}}


<body>
    <!--头部-->
    {{include file="public/header" /}}
    <!--头部-->
    <div class="faq container">
        <div class="hade_img">
            <img src="__IMAGE__/ZOOM COIN MATELAS LCC.jpg" alt="">
        </div>
        <div class="explanatory_note">
            <div class="explain">
                <div class="explanatory_tetle">折抵换购，换出新体验</div>
                <div class="explanatory_text"> 超过交货期5年以上的床垫，您只需支付差价，我们会提供等价的新床垫为您更换
                </div>
                <div class="explanatory_text">在支付的差价按原来床垫的含税价格乘以一定比例计算出来的</div>
            </div>
            <div class="sleepSchedule">
                <div class="title">
                    TRECA以旧换新（质保递减）条款
                </div>
                <div class="one">
                    <div class="one_title">
                        置换条款如下：从第6年到第10年，发生质保问题，支付差价，TRECA为您更换等价新床垫，支付差价规则如下：
                    </div>
                    <div class="noe_text">例如一个含税价格10000元（人民币，下同）的床垫</div>
                    <div class="noe_text">第六年：原床垫可抵扣60%，即6000元，您支付4000元可得到一个10000元新床垫
                    </div>
                    <div class="noe_text">第七年：原床垫可抵扣50%，即5000元，您支付5000元可得到一个10000元新床垫
                    </div>
                    <div class="noe_text">第八年：原床垫可抵扣40%，即4000元，您支付6000元可得到一个10000元新床垫

                    </div>
                    <div class="noe_text">第九年，原床垫可抵扣30%，即3000元，您支付7000元可得到一个10000元新床垫
                    </div>
                    <div class="noe_text">第十年：原床垫可抵扣20%，即2000元，您支付8000元可得到一个10000元新床垫
                    </div>
                </div>
                <div class="one">
                    <div class="one_title">
                        备注：更换床垫的运输费用，以更换时候的市场价收取
                    </div>

                </div>



            </div>

            <div class="more">
                如有更多问题， 请致电咨询我们。电话：400-895-1922

            </div>
        </div>
    </div>
    <!--底部-->
    {{include file="public/footer" /}}
    <!--底部-->
</body>

</html>