<!DOCTYPE html>
<html lang="en">
{{include file="public/head" /}}

<body>
    <!--头部-->
    {{include file="public/header" /}}
    <!--头部-->

    <div class="zsjm">
        <div class="banner">
            <div class="container">
                <img src="__IMAGE__/zsjm_banner_bg.jpg">
            </div>
        </div>
        <div class="con1">
            <div class="container">
                <div class="mode-title">
                    <div class="b-t">加盟流程</div>
                    <div class="s-t">JOIN PROCESS</div>
                </div>
                <div class="content">
                    <div class="item item1">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i1.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n1.png" class="img1">
                        <div class="text">加盟申请</div>
                    </div>
                    <div class="item item2">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i2.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n2.png" class="img1">
                        <div class="text">申请批准</div>
                    </div>
                    <div class="item item3">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i3.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n3.png" class="img1">
                        <div class="text">店面选址</div>
                    </div>
                    <div class="item item4">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i4.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n4.png" class="img1">
                        <div class="text">实地考察</div>
                    </div>
                    <div class="item item5">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i5.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n5.png" class="img1">
                        <div class="text">协议签订</div>
                    </div>
                    <div class="item item6">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i6.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n6.png" class="img1">
                        <div class="text">保证金缴纳</div>
                    </div>
                    <div class="item item7">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i7.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n7.png" class="img1">
                        <div class="text">展示设计</div>
                    </div>
                    <div class="item item8">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i8.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n8.png" class="img1">
                        <div class="text">样品生产</div>
                    </div>
                    <div class="item item9">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i9.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n9.png" class="img1">
                        <div class="text">店面装修/开业</div>
                    </div>
                    <div class="item item11">
                        <div class="icon">
                            <img src="__IMAGE__/zsjm_c1_i11.png">
                        </div>
                        <img src="__IMAGE__/zsjm_c1_n10.png" class="img1">
                        <div class="text">市场经营指导</div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="con2">
            <div class="container">
                <div class="mode-title">
                    <div class="b-t">加盟条件</div>
                    <div class="s-t">CONDITIONS FORBR JOINING</div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="c2contit">经营者</div>
                        <div class="text">
                            <div class="textp">①.具备一定的商业背景和建材家居行业销售经验，熟悉当地市场，有丰富的人脉资源。</div>
                            <div class="textp">②.有一定的经济实体和投资实力，有良好的信誉度。</div>
                            <div class="textp">③.具有致力于国际品牌家具产品的销售热情，专心专注，敬业上进。</div>
                            <div class="textp">④.了解、信任法国TRECA床垫，在经营理念和发展思路上能达成共识。</div>
                            <div class="textp">⑤.与当地政府相关职能部门、企事业单位有良好的沟通与人脉关系。</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c2contit">店面要求</div>
                        <div class="text">
                            <div class="textp">①.营业面积200㎡以上。</div>
                            <div class="textp">
                                <p>②.店面位置：</p>
                                <p>专业家装、家具市场或适宜家具销售的独立门店，进口店必须开在当地商场国际馆区域，同时要求商场最好的位置A+。</p>
                            </div>
                            <div class="textp">
                                <p>③.店面装修：</p>
                                <p>按公司标准形象统一规范的装修方案进行，保持法国TRECA床垫的统一连锁形象</p>
                            </div>
                            <div class="textp">
                                <p>④.办公设备：</p>
                                <p>配置电脑及传真机等必须办公设备，并开通网络通信功能。</p>
                            </div>
                            <div class="textp">
                                <p>⑤.专营明确：</p>
                                <p>必须专营法国TRECA床垫寝具系列产品。</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c2contit">团队要求</div>
                        <div class="text">
                            <div class="textp">
                                <p>①.品牌经理：</p>
                                <p>大专以上学历，有高端家具行业零售推广、营销及管理经验。</p>
                            </div>
                            <div class="textp">
                                <p>②.团队要求：</p>
                                <p>独立团队运营崔佧，团队人员均要参加公司培训，人数不得低于公司标准。</p>
                            </div>
                            <div class="textp">
                                <p>③.培训体系：</p>
                                <p>积极参加公司定期和不定期培训，按照公司标准提升团队。</p>
                            </div>
                            <div class="textp">
                                <p>④.薪资体系：</p>
                                <p>严格按照公司提供方案，打造狼性团队。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kefu">
                    <p>招商详情请拨打法国TRECA床垫全国统一客服电话</p>
                    <p>400-895-1922</p>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    {{include file="public/footer" /}}
    <!--底部-->


</body>

</html>