<!DOCTYPE html>
<html lang="en">
{{include file="public/head" /}}
<body>
<!--头部-->
{{include file="public/header" /}}
<!--头部-->

<div class="main bnjx-page">
    <div class="bnjx-page-box container">
        <div class="bnjx-banner">
            <img src="__IMAGE__/bnjx2-banner.jpg" alt="">
            <p><span>————</span>始于1922的匠心之作，对每一项工艺的品质追求从未改变</p>
        </div>

        <div class="bnjx-t2 bn-pub">
            <div class="bnjx-t2-l bn-pub-img">
                <div class="jx-pub-img-max bn-pub-img-max">
                    <div class="jx-pub-img-box bn-pub-img-box">
                        <img src="__IMAGE__/bnjx-img1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="bnjx-t2-r bn-pub-r">
                <div class="bnjx-t2-rb bn-pub-r-bg">
                    <p>手工双面缝合——每个细节都是匠心的体现</p>
                    <p>缝合、填充、围边等工序都由手工完成，包括最后对产品质量的检验，以保证产品品质。</p>
                </div>
                <div class="bnjx-t2-rt bn-pub-r-p">
                    <p>传统手工工艺，从未遗落</p>
                    <p>严谨于一针一线的手工工匠，才是崔佧传承百年的造梦者</p>
                </div>
            </div>
        </div>


        <div class="bnjx-t3 bn-pub">
            <div class="bnjx-t3-r bn-pub-r">
                <div class="bnjx-t3-rb bn-pub-r-bg" id="bnjx-t3-rb">

                    <p>TRECAAir Spring® 、double Air Spring ® 、PullmanFusion ®</p>
                    <p>三个专利弹簧系统Pullman ®弹簧动态增强支撑，可根据人体不同重量，进行等比例调整，</p>
                    <p>提供各种不同体型的人不同的支撑，Air Spring®弹簧提供矩阵式多点支撑，</p>
                    <p>让两个人都拥有互不干扰的优秀独立睡眠分区。</p>
                </div>
                <div class="bnjx-t3-rt bn-pub-r-p">
                    <p>专利弹簧系统</p>
                    <p>独创的睡眠体验，不仅仅是柔软和支撑</p>
                </div>
            </div>

            <div class="bnjx-t3-l bn-pub-img">
                <div class="jx-pub-img-max bn-pub-img-max">
                    <div class="jx-pub-img-box bn-pub-img-box">
                        <img src="__IMAGE__/bnjx-img2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="bnjx-t4 bn-pub">
            <div class="bnjx-t4-l bn-pub-img">
                <div class="jx-pub-img-max bn-pub-img-max">
                    <div class="jx-pub-img-box bn-pub-img-box">
                        <img src="__IMAGE__/bnjx-img3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="bnjx-t4-r bn-pub-r">
                <div class="bnjx-t4-rb bn-pub-r-bg">
                    <p>采用宇航服使用的Outlast环境恒定技术，可以吸收、储存和释放热量，保持睡眠期间的恒定温度</p>
                    <p>Cirrus®棉质衬垫能主动调节湿度，确保将汗水迅速排干。从而以达到调节温度和湿度到最佳状态，</p>
                    <p>保持整晚恒定的睡眠微气候，带来极为舒适的睡眠体验。</p>
                </div>
                <div class="bnjx-t4-rt bn-pub-r-p">
                    <p>现代科技赋予的舒适异禀</p>
                    <p>科技与天然面料的融合，不管天气与身体如何变化，舒适恒定不变</p>
                </div>
            </div>
        </div>


        <div class="bnjx-t5 bn-pub">
            <div class="bnjx-t5-r bn-pub-r">
                <div class="bnjx-t5-rb bn-pub-r-bg" id="bnjx-t5-rb">
                    
                    <p>超声键合</p>
                    <p>采用最新超声键合技术，通过超声频振动，将面料和填充材料焊接在一起，增强床垫的耐用性。</p>
                    <p>完全软垫</p>
                    <p>TRECA的双面深度穿透拉扣专利技术，能确保床垫不变形，填充材料不移位，保证蓬松效果。</p>
                    <p>扁钢边框</p>
                    <p>围在弹簧边上的扁钢边框——既可以保证弹簧不移位，也保证了床垫的尺寸，长久使用不变形。</p>
                    <p>穿孔泡沫结构</p>
                    <p>泡沫上的穿孔在保证床垫超强透气的同时，也保证运用在床垫里的各种高科技材料性能高效发挥。</p>
                </div>
                <div class="bnjx-t5-rt bn-pub-r-p">
                    <p>不变型的多重保护</p>
                    <p>让舒适，更长久</p>
                </div>
            </div>

            <div class="bnjx-t5-l bn-pub-img">
              <div class="jx-pub-img-max bn-pub-img-max">
                  <div class="jx-pub-img-box bn-pub-img-box">
                      <!-- <img src="images/bnjx-img4.jpg" data-src="https://cloud.szyuandian.com/%E8%A7%86%E9%A2%911.2--%E5%B7%A5%E8%89%BA.mp4" alt=""> -->
                      <!-- <img class="cdt2-big-img" src="images/bnjx-img4.jpg" data-src="https://cloud.szyuandian.com/%E8%A7%86%E9%A2%911.2--%E5%B7%A5%E8%89%BA.mp4" alt="">
                      <div class="play">
                        <img src="images/cd1-play-ico-b.png" alt="">
                        <img src="images/cd1-play-ico.png" alt="">
                      </div> -->

                      <video class="cdt2-big-img" src="https://cloud.szyuandian.com/%E8%A7%86%E9%A2%911.2--%E5%B7%A5%E8%89%BA.mp4" preload="auto"  poster="__IMAGE__/bnjx-img4.jpg" controls=true style="object-fit:fill;  "></video>
                  </div>
              </div>
          </div>
        </div>
    </div>


    <!-- 视频视图 -->
    <!-- <div class="cd-video-view">
      <div class="video-box">
        <video src="" controls=true; autoplay=true></video>
        <p>close</p>
      </div>

    </div> -->
</div>

<!--底部-->
{{include file="public/footer" /}}
<!--底部-->


<script>
    // $(document).ready(function(){
    //   $('.cd-video-view').hide();
    //   $('.play').click(function(){
    //     $('.cd-video-view').show();
    //     $('.video-box video').attr('src','https://cloud.szyuandian.com/%E8%A7%86%E9%A2%911.2--%E5%B7%A5%E8%89%BA.mp4')
    //   })
    //   $('.video-box p').click(function(){
    //     $('.cd-video-view').hide();

    //     $('.video-box video').attr('src','');
    //   })
    // });

</script>
</body>
</html>