<!DOCTYPE html>
<html lang="en">

{{include file="public/head" /}}

<body>
<!--头部-->
{{include file="public/header" /}}
<!--头部-->

<div class="zhencai">
    <div class="bartan ">
        <div class="bartan_img"><img src="__IMAGE__/bjys.jpg" alt=""></div>
        <div class="bartan_dw">
            <div class="left">
                <div class="left-box">
                         <span class="heder_img">
                             <div> <img src="__IMAGE__/left1.png" alt=""></div>
                             <p>克什米尔山羊绒</p>
                         </span>
                    <span class="heder_img">
                             <div>
                                 <img src="__IMAGE__/left2.png" alt="">
                             </div>
                             <p>幼驼毛</p>
                         </span>
                    <span class="heder_img">
                             <div><img src="__IMAGE__/left3.png" alt=""></div>
                             <p>幼羊驼绒</p>
                         </span>
                </div>

            </div>
            <div class="right">

                <div class="right-box">
                        <span class="heder_img">
                            <div> <img src="__IMAGE__/zcringht1.png" alt=""></div>
                            <p>亚麻</p>
                        </span>
                    <span class="heder_img">
                            <div>
                                <img src="__IMAGE__/zcringht2.png" alt="">
                            </div>
                            <p>蚕丝</p>
                        </span>
                    <span class="heder_img">
                            <div><img src="__IMAGE__/zcringht3.png" alt=""></div>
                            <p>马海毛</p>
                        </span>
                </div>

            </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="centent">
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd1.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx1.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Baby Camel 幼驼绒
                    </div>
                    <div class="noe_text">
                        我们甄选最珍贵的幼驼绒，作为制作床垫的材料。骆驼一生只剪一次幼驼绒，因为唯一，所以珍贵。驼绒纤维回弹性大、不易变形、毛量均匀的特点，能减轻对人体的压力，中空竹节状结构，有利于空气储存，可自动调节温度和湿度，冬暖夏凉。
                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        Baby Camel 幼羊驼绒
                    </div>
                    <div class="noe_text">
                        幼羊驼绒，自然界保暖效果最好的动物纤维，其空心结构，冬季保暖，夏季透气凉爽，纤维细长，强力好，耐摩擦，不起球，色泽鲜亮，手感滑爽，为您带来舒适睡眠体验。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd2.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd3.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx3.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Cachmire 克什米尔山羊绒
                    </div>
                    <div class="noe_text">
                        精选具有“纤维的钻石”、“软黄金”之称的山羊绒，保暖性好，触感柔顺。在春季山羊脱毛之际，用特制铁梳从山羊躯体上抓取绒毛，并经过清洗、分梳、筛选等工序，方能成为我们床垫的原材料。
                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        Pure laine vierge 纯新羊毛
                    </div>
                    <div class="noe_text">
                        “纯”，象征着用100%的羊毛，“新”指羊毛制品中不使用再生毛，它具有弹性好、吸湿性强、保暖性极佳等诸多优点。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd4.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd5.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx5.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Mohair 马海毛
                    </div>
                    <div class="noe_text">
                        得名于土耳其语，意为“最好的毛”，其富丽堂皇的外观，高档的手感和独特的天然光泽在纺织纤维中是独一无二的。海马毛纤维柔软，耐用性好，具有不毡化，不起球，沾污后易清洁的特点。

                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        Soie naturelle天然蚕丝
                    </div>
                    <div class="noe_text">
                        天然蚕丝，名贵高档材料，
                        蚕丝是自然界中最轻、最柔最细的天然纤维。桑蚕丝主要由动物蛋白组成，富含十八种人体所必须的氨基酸，素有“人体第二肌肤”、“纤维皇后”之美誉，长期使用能促进皮肤细胞活力，防血管硬化。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd6.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd7.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx7.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Latex naturel天然乳胶
                    </div>
                    <div class="noe_text">
                        取材于天然橡胶树，无毒无味、经久耐用，给您柔软的体验和舒适的包裹感。同时，天然乳胶良好的支撑力，适应睡眠者的各种睡姿。
                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        Lin亚麻
                    </div>
                    <div class="noe_text">
                        人类最早使用的天然植物纤维，低调实用大概是对亚麻最好的描述。作为朴实无华的材料，它的众多优点，让你安然入睡。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd8.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx8.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd9.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx9.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Coton白色纯棉
                    </div>
                    <div class="noe_text">
                        棉花柔软而不坚硬，其他材质完美搭配，给你温暖的同时，让你的肌肤畅快的呼吸，呵护肌肤健康。
                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        大豆纤维
                    </div>
                    <div class="noe_text">
                        大豆蛋白纤维属于再生植物蛋白纤维类，有着羊绒般的柔软手感，蚕丝般的柔和光泽，棉的保暖性和良好的亲肤性等优良性能，还有明显的抑菌功能，被誉为“新世纪的健康舒适纤维”。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd10.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx10.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd11.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx11.png" alt="">
                    </div>
                </div>
                <div class="texture_text">
                    <div class="tetle">
                        Lenpur白松纤维
                    </div>
                    <div class="noe_text">
                        白松纤维手感柔软富有弹性，纤维断面特殊形态结构，具有吸湿快干能力，同时保温隔热，为您带来舒适睡眠体验。
                    </div>
                </div>

            </div>
        </div>
        <div class="texture">
            <div class="container">
                <div class="texture_text">
                    <div class="tetle">
                        Seacell海藻纤维
                    </div>
                    <div class="noe_text">
                        从海洋藻类提取而得的纤维，海洋的力量赋予它有远红外线的效果和负离子效果，促进人体新陈代谢，睡出健康好身体。
                    </div>
                </div>
                <div class="texture_img">
                    <div class="datu">
                        <img src="__IMAGE__/ytd12.png" alt="">
                    </div>
                    <div class="dingw">
                        <img src="__IMAGE__/ytx12.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--底部-->
{{include file="public/footer" /}}
<!--底部-->
</body>

</html>