<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400</title>

    <style>
        body{background: #f3efe7;}
        p:nth-of-type(1){text-align: center;font-size: 120px;font-weight: 800;color:#8d6945;letter-spacing: 10px; margin:100px auto 40px; text-shadow: 3px 2px 4px rgba(0,0,0,0.3); }
        p:nth-of-type(2){text-align: center;font-size: 30px;color:#333;}
        div{text-align: center;margin-top:15px;}
        div a{ display: inline-block;text-decoration: none;width: 140px;height: 40px;background:#8d6945;line-height: 40px;border-radius: 20px;color:#fff;}
    </style>
</head>
<body>
    <p>400</p>
    <p>{{$msg}}</p>
    <div>
        {{if $module == 'admin'}}
        <a href="javascript:top.location.href='/{{$module}}.php';">返回首页</a>
        {{else/}}
        <a href="javascript:top.location.href='/';">返回首页</a>
        {{/if}}
    </div>
    
</body>
</html>
