<!DOCTYPE html>
<html lang="en">

<!-- head -->
{{include file="/public/head"}}
<link rel="stylesheet" href="__CSS__/product-style.min.css">
<!-- head -->

<body>
  <!-- 头部 -->
  {{include file="/public/header"}}
  <!-- 头部 -->

  <!-- 无限系列 -->
  <main>
    <div class="z-product-main z-product">
      <section class="s1 container">
        {{if !empty($data_list.container.container_first_background_image)}}
        <div class="title">
          <h4 class="b-t">{{$data_list.container.container_first_title}}</h4>
          <p><span class="text-uppercase">{{$data_list.container.container_first_vice_name}}</span></p>
          <p class="word">{{$data_list.container.container_first_describe}}</p>
        </div>
        {{/if}}
      </section>

      <section class="container">

        {{if !empty($data_list.container.container_first_background_image)}}
        <div class="banner cd-banner-wuxian">
          <img src="{{$data_list.container.container_first_background_image}}" alt="banner图">
        </div>
        {{/if}}

        {{if !empty($data_list.container.container_second_background_image)}}
        <div class="banner-cd">

          <div class="item">
            <div class="img">
              <img src="{{$data_list.container.container_second_background_image}}" alt="详情图片">
            </div>
            <div class="test">
              {{if !empty($data_list.container.container_second_title)}}
              <h3 class="title">{{$data_list.container.container_second_title}}</h3>
              {{/if}}
              <p>{{$data_list.container.container_second_describe}}</p>
            </div>
          </div>

        </div>
        {{/if}}

        <div class="content">
          <div class="content-left">
            <!-- 左侧边栏 -->
            {{include file="/public/aside"}}
            <!-- 左侧边栏 -->
          </div>
          <div class="content-right">

            {{if !empty($data_list.goods_info)}}
            {{foreach $data_list.goods_info as $goods}}
            <div class="item">
              <div class="item-top">
                <div class="img">
                  <a href="/product/detail/{{$goods.id}}">
                    <img src="{{$goods.images}}" alt="产品图片">
                  </a>
                </div>
                <div class="word">
                  <p>{{$goods.title}}</p>
                  <p>¥{{$goods.price}}</p>
                </div>
              </div>
              
               <div class="item-desc">
                {{if !empty($goods.hardness)}} <p>硬度：{{$goods.hardness}}</p> {{/if}}
                {{if !empty($goods.height)}} <p>高度：{{$goods.height}}</p> {{/if}}
                <!--
                {{if !empty($goods.winter_fabrics)}} <p>夏季面：{{$goods.summer_fabrics}}</p> {{/if}}
                {{if !empty($goods.summer_fabrics)}} <p class="winter">冬季面：{{$goods.winter_fabrics}}</p> {{/if}}
                -->
              </div> 

              <div class="item-bottom">
                <div class="shop">
                  <p class="btn" data-goodsid={{$goods.id}}><a href="/product/option/{{$goods.id}}">立即购买</a></p>
                </div>
                <a href="/product/detail/{{$goods.id}}" class="more">进一步了解></a>
              </div>
            </div>
            {{/foreach}}
            {{/if}}
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- 无限系列 -->


  <!-- 底部 -->
  {{include file="/public/footer"}}
  <!-- 底部 -->

  <script>
    $('.nav-list .nav-menu .nav-menu-btn').on("click", function () {
      let idx = $(this).index();
      $(this).find('.icon-height').toggleClass('down');
      $(this).find('.icon-width').toggleClass('down');

      const navSon = $(this).parent().find('.nav-son-list');
      if (navSon.is(":hidden")) {
        navSon.slideDown();
      } else {
        navSon.slideUp();
      }

    });

    $('.navigation-menu .menu-item').eq(0).addClass('on').siblings().removeClass('on');
  </script>
</body>

</html>