<!DOCTYPE html>
<html lang="en">

{{include file="public/head" /}}

<body>
<!--头部-->
{{include file="public/header" /}}
<!--头部-->

<div class="faq container">
    <div class="hade_img">
        <img src="__IMAGE__/ZOOM COIN MATELAS LCC.jpg" alt="">
    </div>
    <div class="explanatory_note">
        <div class="explain">
            <div class="explanatory_tetle">如何挑选寝具</div>
            <div class="explanatory_text"> 法国TRECA床垫陪伴客户挑选最适合他们的寝具，包括床垫，底座和床屏。
            </div>
            <div class="explanatory_text">在购买寝具之前可以结合TRECA的睡眠表格和Bodyscan系统，来选择适合自己的床垫。</div>
        </div>
        <div class="sleepSchedule">
            <div class="title">
                Q : 崔佧睡眠表格
            </div>
            <div class="one">
                <div class="one_title">
                    1、了解睡眠习惯
                </div>
                <div class="noe_text">一夜的睡眠是经过平均为90分钟的四五个不同循环周期组成。每个循环周期包括或多或少的深度睡眠和不同的大脑活动标记组成：</div>
                <div class="noe_text">● 入睡： 5至10分钟
                </div>
                <div class="noe_text">● 浅眠： 10至15分钟
                </div>
                <div class="noe_text">● 深度睡眠：30分钟
                </div>
                <div class="noe_text">● 超深度睡眠：30分钟
                </div>
                <div class="noe_text">● REM睡眠（在此阶段时眼球会快速移动，同时身体肌肉放松，又称快速动眼睡眠）：10至15分钟<br>
                    根据个人情况不同，情况也会有相应的不同。
                </div>
            </div>
            <div class="one">
                <div class="one_title">
                    2、选择适合自己的床垫
                </div>
                <div class="noe_text">一个好的寝具应该：</div>
                <div class="noe_text">● 促进身体释放压力：平躺时能感到肌肉和脊椎的放松。
                </div>
                <div class="noe_text">● 适合人体的形态：床垫应该贴合人体的各个部位，体重应均匀分布。
                </div>
                <div class="noe_text">● 软硬度： 不能太硬，如果床垫太硬，脊椎就不能保持平衡。
                </div>
                <div class="noe_text">一个适合每个人独特形态的床垫
                </div>
                <div class="noe_text">一个不好的睡眠质量可能出自不同的原因。其中一个原因是床垫和人体的形态不贴合
                    因此根据自己需要选出一个适合自己的床垫。
                </div>
            </div>
            <div class="one">
                <div class="one_title">
                    3、选择崔佧床垫
                </div>
                <div class="noe_text">每个人在睡觉的时候大约都会动30至40次， 两个人的话我们估计是60至80次。 那么，多大的床垫才适合给两个人睡呢？ 根据不同的睡觉姿势，<br>
                    床越大，睡的舒服。 如果其中一个人的睡眠质量相对较差，那么最好就是选有独立睡眠区域的床垫。 床垫或底座的长度应比你的身高多15cm，<br>
                    如果一个人睡，宽度为90cm的就合适了。
                </div>

            </div>
            <div class="one">
                <div class="one_title">
                    4、选择崔佧的底座
                </div>
                <div class="noe_text">床垫的质量是至关重要的， 但同样的底座的质量也同样重要。</div>
                <div class="noe_text">如果您对螨虫，灰尘，羊毛或者羽毛过敏：</div>
                <div class="noe_text">需要选择有防螨虫防菌处理的原材料的床垫。</div>
                <div class="noe_text">使用床罩和防过敏的枕头。</div>
                <div class="noe_text">房间保持在16至18摄氏度有利于抑制螨虫。每天请保持房间的通风，频繁更换床单，定期清理床垫。</div>
            </div>
            <div class="one">
                <div class="one_title">
                    5、崔佧睡眠表格
                </div>
                <div class="noe_text">为了方便您挑选适合自己的床垫，我们制定了崔佧睡眠表格，帮助您结合自身情况，挑选出适合自己的床垫。</div>
                <div class="one_img">
                    <img src="__IMAGE__/cuimianbiao.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="sleepSchedule">
            <div class="title">
                Q : Bodyscan，让您的身体来选择您的床垫
            </div>
            <div class="one">

                <div class="noe_text">Bodyscan，是一个电脑软件来帮助您选择适合您的床垫
                </div>
                <div class="noe_text">有时候很难确定最适合自己的床垫， 比如说他需要支撑力强的床还是支撑力较软的呢？
                </div>
                <div class="noe_text">床垫的舒适度是否适合他的睡眠习惯呢？
                </div>
                <div class="noe_text">床垫应该要支持人体的每一个部位而达到放松肌肉的目的。 床垫的支撑力是床垫的灵魂而床垫的舒适层保证了床垫的舒适度。
                </div>
            </div>
            <div class="one">
                <div class="one_title">
                    舒适层
                </div>
                <div class="noe_text">软硬度这是躺在床垫的上第一感觉，这取决于床垫的原材料的厚度和原材料的选择。
                </div>

            </div>
            <div class="one">
                <div class="one_title">
                    支撑力
                </div>
                <div class="noe_text">床垫的支撑力是有床垫的床网决定的。 根据您的需要，支撑力分为超硬，中硬和硬。</div>
                <div class="noe_text">那么如何选一张合适您的床垫呢？ BodyScan能帮助您在那么多的床垫里选出最适合您的床垫。</div>
            </div>
            <div class="one">
                <div class="one_title">
                    如何用BodyScan？
                </div>
                <div class="noe_text">根据此软件科学的结果和其独特的专利技术，为每一个测试者找出理想的床垫： 测试床垫里配备了1600个压力传感器，分析每个不同的压力点。
                </div>
                <div class="one_img">
                    <img src="__IMAGE__/bodyscan.png" alt="">
                </div>
                <div class="noe_text">测试者告诉导购测试者的体重和最喜欢的睡眠姿势。 一旦把这些数据输入进电脑后，测试者会在正躺和侧躺在床垫上进行测试。电脑上的3D绘图会以不同的压力点显示出不同的颜色：
                </div>
                <div class="noe_text">蓝色：压力点弱的地方
                </div>
                <div class="noe_text">黄/橙/红色：压力点强的地方
                </div>
                <div class="noe_text">之后根据结果的颜色，机器会告诉你需要选择什么样的床垫和底座。

                </div>
                <div class="noe_text">加上BodyScan的帮助，崔佧提供了给客户选择最适合自己的床垫的机会，让客户知道每个产品的细节，买的更放心。
                </div>
            </div>

        </div>
        <div class="more">
            如有更多的问题， 请致电咨询我们。电话：400-895-1922 <br>
            作为寝具的专家，是我们的责任帮助您选择适合您的床垫。
        </div>
    </div>
</div>

<!--底部-->
{{include file="public/footer" /}}
<!--底部-->
</body>

</html>