<!DOCTYPE html>
<html lang="en">

<!-- head -->
{{include file="/public/head"}}
<link rel="stylesheet" href="__CSS__/product-style.min.css">
<!-- head -->

<body>
  <!-- 头部 -->
  {{include file="/public/header"}}
  <!-- 头部 -->

  <!-- 无限系列 -->
  <main>
    <div class="z-product-main z-product">
      <section class="s1 container">
        <div class="title">
          <h4 class="b-t">好睡眠，不奢侈</h4>
          <p><span class="text-uppercase">INFINITE 无限系列</span></p>
          <p class="word">TRECA专利弹簧与稀有珍贵动物纤维，温柔托起你的一夜美梦</p>
        </div>
      </section>

      <section class="container">
        <div class="banner cd-banner-wuxian">
          <img src="__IMAGE__/cd_wuxian_banner.jpg" alt="banner图">
        </div>
        <div class="banner-cd">
          <div class="item">
            <div class="img">
              <img src="__IMAGE__/cd_wuxian_banner02.jpg" alt="详情图片">
            </div>
            <div class="test">
              <p>珍选幼驼毛、幼羊驼绒等稀有名贵材料，柔滑、温馨和包覆感，让您私享奢华睡眠</p>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="content-left">
            <!-- 左侧边栏 -->
            {{include file="/public/aside"}}
            <!-- 左侧边栏 -->
          </div>
          <div class="content-right">
              

            {{if !empty($data_list)}}
            {{foreach $data_list.data as $goods}}
            <div class="item">
              <div class="item-top">
                <div class="img">
                  <a href="/product/detail/{{$goods.id}}">
                    <img src="{{$goods.images}}" alt="产品图片">
                  </a>
                </div>
                <div class="word">
                  <p>{{$goods.title}}</p>
                  <p>¥{{$goods.price}}</p> 
                </div>
              </div>
              <div class="item-desc">
                {{if !empty($goods.hardness)}} <p>硬度：{{$goods.hardness}}</p> {{/if}}
                {{if !empty($goods.height)}} <p>高度：{{$goods.height}}</p> {{/if}}
                {{if !empty($goods.winter_fabrics)}} <p>夏季面：{{$goods.summer_fabrics}}</p> {{/if}}
                {{if !empty($goods.summer_fabrics)}} <p class="winter">冬季面：{{$goods.winter_fabrics}}</p> {{/if}}
              </div>
              <div class="item-bottom">
                <div class="shop"><p class="btn" data-goodsid={{$goods.id}}>加入购物袋</p></div>
                <a href="/product/detail/{{$goods.id}}" class="more">进一步了解></a>

                <div class="success-msg">
                  <h3 class="title">成功加入购物车</h3>
                  <p>您可以<a href="/cart" target="_blank">去购物车结算</a></p>
                </div>
              </div>
            </div>
            {{/foreach}}
            {{/if}}
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- 无限系列 -->


  <!-- 底部 -->
  {{include file="/public/footer"}}
  <!-- 底部 -->

  <script>
    $('.nav-list .nav-menu .nav-menu-btn').on("click", function () {
      let idx = $(this).index();
      $(this).find('.icon-height').toggleClass('down');
      $(this).find('.icon-width').toggleClass('down');

      const navSon = $(this).parent().find('.nav-son-list');
      if (navSon.is(":hidden")) {
        navSon.slideDown();
      } else {
        navSon.slideUp();
      }

    });

  </script>
</body>

</html>