<!DOCTYPE html>
<html lang="en">
{{include file="public/head" /}}
{{if empty($cart_list)}}
<script>
  window.location.href = "/";
</script>
{{/if}}

<body>
  {{include file="public/header" /}}

  <div class="main zf-page">
    <h2 class="page-title">选择支付方式</h2>
    <form>
      <div class="content">
        <div class="content-left">
          <div class="infos-container">
            <div class="need-invoice">
              <input class="need-checkbox" type="checkbox" name="needRecite">
              <label for="">需要发票</label>
            </div>
            <div class="invoice-container">
              <div class="infos-title">
                <h4>发票信息</h4>
              </div>
              <div class="form-container">
                <div class="ipt-group">
                  <label for="">必填项目 *</label>
                  <div class="ipt-content">
                    <div class="radio-group">
                      <input type="radio" id="personal" value="personal" name='personal' checked>
                      <label for="personal">个人</label>
                    </div>
                    <div class="radio-group">
                      <input type="radio" id="company" value="company" name='personal'>
                      <label for="company">公司</label>
                    </div>
                  </div>
                </div>
                <div class="ipt-group">
                  <label for="">必填项目 *</label>
                  <input type="text" name="invoiceTxt" class="invoiceTxt" onchange="addColor()">
                </div>
              </div>
            </div>
          </div>
          <div class="infos-container zf-container">
            <div class="infos-title">
              <h4>支付</h4>
            </div>
            <div class="form-container">
              <div class="ipt-group">
                <div class="ipt-content">
                  {{volist name="pay_list" id="vo"}}
                  <div class="radio-group payment" data-sort="{{$vo.sort}}">
                    <label for="zfb{{$vo.id}}"><img src="{{$vo.logo}}" alt="{{$vo.name}}"></label>
                    <p>{{$vo.name}}</p>
                    <input type="radio" id="zfb{{$vo.id}}" value="{{$vo.id}}" name="zfway" onchange="addColor()"
                      ids="{{$vo.id}}">
                  </div>
                  {{/volist}}
                </div>
              </div>
            </div>
            <div class="form-container tk">
              <div class="s-title">隐私政策</div>
              <div class="b-title"></div>
              <p>
                本政策适用于TRECA在自营商城www.treca.cn提供的所有产品和服务。<br>
                在使用本网站购买TRECA各项产品或服务前，请您务必仔细阅读并透彻理解本政策，在确认充分理解并同意后使用相关产品或服务。一旦您开始使用本网站的各项产品或服务，即表示您已充分理解并同意本政策。如对本政策内容有任何疑问、意见或建议，您可通过拨打TRECA全国统一客服电话400-895-1922与我们联系。
                隐私政策  
                本隐私权政策部分将帮助您了解以下内容：<br>
                一、我们如何收集和使用您的信息<br>
                二、我们如何使用Cookie和同类技术<br>
                三、我们如何共享、转让、公开披露您的信息<br>
                四、我们如何保护您的信息<br>
                五、您如何管理您的信息<br>
                六、我们如何处理未成年人的信息<br>
                七、本隐私权政策如何更新<br>
                八、如何联系我们<br>
                 一、我们如何收集和使用您的信息<br>
                （一）我们如何收集您的信息<br>
                1、注册会员<br>
                我们通过TRECA线上商城的账户为您提供服务。为使用我们的会员服务，您需要创建TRECA商城账户，提供手机号码和密码。如果您仅需使用浏览、搜索服务，您不需要注册成为我们的会员及提供上述信息。<br>
                如果您选择提供真实姓名、性别、出生年月日、收货地址、您本人职种、星座等非注册必须的个人资料，我们可以为您提供更加个性化的会员服务。如果您不提供上述信息，不会影响您使用寺库网的浏览、搜索、购买服务。<br>
                对于需要通过TRECA线上商城账户才能使用的服务，我们可能会根据您提供的上述信息校验您的会员身份，确保我们是在为您本人提供服务。<br>
                如果您已拥有TRECA线上商城账户，我们可能会在相关服务中显示您的上述个人信息，以及您在TRECA线上商城的产品和服务中执行的操作，例如通过TRECA线上商城账户集中展示您的个人资料或交易订单。我们会尊重您对TRECA线上商城的服务和账户设置所做的选择。<br>
                2、下单<br>
                为完成您所选择或达成的交易，您需要提供收货人姓名、收货地址、邮政编码、收货人联系电话。您可以通过TRECA线上商城为其他人订购商品或服务，您需要提供该实际收货人的前述个人信息。在向TRECA线上商城提供这些个人信息之前，您需确保您已经取得合法的授权。<br>
                为便于向您提供订单管理服务，我们会收集您在使用我们服务过程中产生的订单信息。我们将使用您的订单信息来进行您的身份核验、确定交易、支付结算、完成配送、为您查询订单以及提供客服咨询与售后服务；我们还会使用您的订单信息来判断您的交易是否存在异常以保护您的交易安全。<br>
                3、支付<br>
                在您下单后您可以选择多种支付方式(微信支付、支付宝支付、银联支付、分期付款)支付您的订单。支付功能本身不收集您的个人信息，但我们需要将您的订单号与交易金额信息与支付机构共享以确认您已完成支付。<br>
                4、客服与售后功能<br>
                当您在与我们联系时，为了验证您的身份，帮助您解决问题，我们可能会记录您与我们的对话并收集其他为解决问题的必要信息，如订购人姓名、联系方式等。<br>
                5、服务使用过程中的信息收集<br>
                为改善我们的产品或服务，以便向您提供更符合您个性化需求的信息展示、搜索及交易服务我们会收集设备信息。<br>
                设备信息：我们会根据您在使用中授予的具体权限，接收并记录您所使用的设备相关信息。如果您在使用过程中拒绝授予我们相应权限的，我们并不会记录您上述对应的信息。<br>
                在安全事故与实践发生时，为了更好的追查来源，我们会收集<br>
                服务日志信息：当您使用我们的网站或客户端提供的产品或服务时，我们会自动收集您对我们服务的详细使用情况，作为有关网络日志保存。<br>
                请您理解，单独的设备信息、日志信息等是无法识别特定自然人身份的信息。除非将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，那么在结合使用期间，这类非个人信息将被视为个人信息，我们会将该类个人信息做匿名化、去标识化处理（取得您的授权或法律法规另有规定的情况除外）。<br>
                （二）我们如何使用您的信息<br>
                1、向您提供产品或服务。<br>
                2、为改善我们的产品或服务，以便向您提供更符合您个性化需求的信息展示、搜索及交易服务，我们会根据您的浏览及搜索记录、设备信息、位置信息、订单信息，提取您的浏览及搜索偏好、行为习惯、位置信息等特征，推送信息和可能的商业广告。<br>

                如果您不想接收我们给您发送的商业广告，您可通过短信提示回复退订或我们提供的其他方式进行退订。<br>
                3、我们可能会对收集的信息进行去标识化地研究、统计分析和预测，用于改善寺库网的内容和布局，为商业决策提供产品或服务支撑，以及改进我们的产品和服务。<br>
                4、如我们停止运营TRECA线上商城上的产品或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，并对我们所持有的与已关停业务相关的个人信息进行删除或匿名化处理。<br>
                5、若我们将信息用于本政策未载明的其他用途，或者将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。<br>
                  二、我们如何使用 Cookie  <br>
                （一） Cookie<br>
                为确保网站正常运转、为您获得更轻松的访问体验、向您推荐您可能感兴趣的内容，我们会在您的计算机或移动设备上存储名叫Cookie的小数据文件，指定给您的cookie是唯一的。在您的设备上放置的Cookie的实体可以通过Cookie在不同，网站服务中识别，而且可以帮助您的判断登录状态。<br>
                如果您的浏览器或浏览器附加服务允许，您可修改对Cookie的接受程度或拒绝我们的Cookie。但是请注意某类服务可能设计为使用Cookie进行工作，禁用Cookie可能会影响您使用这些服务或其中部分服务的能力。<br>
                   三、我们如何共享、转让、公开披露您的信息<br>
                （一）共享<br>
                我们不会与TRECA线上商城的服务提供者以外的公司、组织和个人共享您的个人信息，但以下情况除外：<br>
                1、在法定情形下的共享：我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享您的个人信息。<br>
                2、在获取明确同意的情况下共享：获得您的明确同意后，我们会与其他方共享您的个人信息。<br>
                3、在您主动选择情况下共享：您通过TRECA线上商城购买商品或服务，我们会根据您的选择，将您的订单信息中与交易有关的必要信息共享给相关商品或服务的提供者，以实现您的交易及售后服务需求。<br>
                （二）转让<br>
                我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：<br>
                1、在获取明确同意的情况下转让：获得您的明确同意后，我们会向其他方转让您的个人信息；<br>
                （三）公开披露<br>
                我们仅会在以下情况下，公开披露您的个人信息：<br>
                1、获得您明确同意或基于您的主动选择，我们可能会公开披露您的个人信息；<br>
                2、如果我们确定您出现违反法律法规或严重违反寺库网相关协议及规则的情况，或为保护寺库平台用户或公众的人身财产安全免遭侵害，我们可能依据法律法规或征得您同意的情况下披露关于您的个人信息，包括相关违规行为以及TRECA线上商城已对您采取的措施。<br>
                （四）共享、转让、公开披露个人信息时事先征得授权同意的例外<br>
                以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：<br>
                1、与国家安全、国防安全有关的；<br>
                2、与公共安全、公共卫生、重大公共利益有关的；<br>
                3、与犯罪侦查、起诉、审判和判决执行等司法或行政执法有关的；<br>
                4、出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；<br>
                5、您自行向社会公众公开的个人信息；<br>
                6、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。<br>
                请知悉，根据适用的法律，若我们对个人信息采取技术措施和其他必要措施进行处理，使得数据接收方无法重新识别特定个人且不能复原，则此类处理后数据的共享、转让、公开披露无需另行向您通知并征得您的同意。<br>
                   四、我们如何保护您的信息<br>
                （一）我们已采取符合业界标准、合理可行的安全防护措施保护您的信息，防止个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。例如，在您的浏览器与服务器之间交换数据时受 SSL协议加密保护；我们同时对TRECA线上商城提供HTTPS协议安全浏览方式；我们会使用加密技术提高个人信息的安全性；我们会使用受信赖的保护机制防止个人信息遭到恶意攻击；我们会部署访问控制机制，尽力确保只有授权人员才可访问个人信息；以及我们会举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识。<br>
                （二）我们有行业先进的以数据为核心、围绕数据生命周期进行的数据安全管理体系，从组织建设、制度设计、人员管理、产品技术等方面多维度提升整个系统的安全性。<br>
                （三）我们会采取合理可行的措施，尽力避免收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息（除非法律有强制的存留要求）。<br>
                （四）互联网并非绝对安全的环境，使用TRECA线上商城服务时，我们强烈建议您不要使用非TRECA线上商城推荐的通信方式发送您的信息。请使用复杂密码，协助我们保证您的账号安全。我们将尽力保障您发送给我们的任何信息的安全性。如果我们的物理、技术或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改或毁坏，导致您的合法权益受损，我们将承担相应的法律责任。<br>
                （五）在不幸发生个人信息安全事件后，我们将按照法律法规的要求向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。事件相关情况我们将以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。<br>
                同时，我们还将按照监管部门要求，上报个人信息安全事件的处置情况。<br>
                （六）个人信息的存储<br>
                我们会采取合适的安全措施和技术手段存储及保护您的个人信息，以防止丢失、被误用、受到未授权访问或泄漏、被篡改或毁坏。您的个人信息存放在有密码控制的位于中国境内的服务器中，访问均是受到限制的。当您需要跨境信息传输服务时，我们会默认您继续使用中国境内的服务器。<br>
                我们会依照个人信息的不同等级存储不同期限，存储期限严格按照法律及相关法规规定，最低期限不少于6个月。<br>
                根据本条款的规定，我们仅允许有必要知晓这些信息的TRECA线上商城员工等第三方访问个人信息，并要求他们履行相应的保密义务。<br>
                五、您如何管理您的信息<br>
                您可以通过以下方式访问及管理您的信息：<br>
                （一）查询您的信息<br>
                您有权查询您的信息。您可以通过以下方式自行查询您的信息：
                账户信息——如果您希望访问或编辑您的账户中的个人基本资料信息和支付信息、更改您的密码、添加安全信息或关闭您的账户等，您可以通过登录账号通过“账户安全”执行此类操作。<br>
                搜索信息——您可以登录账号通过“我的浏览”访问或清除您的搜索历史记录。<br>
                订单信息：您可以在寺库网中”我的 – 全部订单”查阅或清除您的订单记录、交易记录等。<br>
                如果您无法通过上述路径查询该等信息，您可以随时通过寺库网客服与我们取得联系。我们将在30天内回复您的访问请求。<br>
                对于您在使用我们的产品或服务过程中产生的其他个人信息，我们将根据本条“（六）响应您的上述请求”中的相关安排向您提供。<br>
                （二）更正或补充您的信息<br>
                当您发现我们处理的关于您的信息有错误时，您有权要求我们做出更正或补充。您可以通过“（一）查询您的信息”中列明的方式提出更正或补充申请。<br>
                （三）删除您的信息<br>
                在以下情形中，您可以向我们提出删除个人信息的请求：<br>
                1、如果我们处理个人信息的行为违反法律法规；<br>
                2、如果我们收集、使用您的个人信息，却未征得您的明确同意；<br>
                3、如果我们处理个人信息的行为严重违反了与您的约定；<br>
                4、如果您不再使用我们的产品或服务；<br>
                5、如果我们永久不再为您提供产品或服务。<br>
                若我们决定响应您的删除请求，我们还将同时尽可能通知从我们处获得您的个人信息的主体，并要求其及时删除（除非法律法规另有规定，或这些主体已独立获得您的授权）。<br>
                当您或我们协助您删除相关信息后，因为适用的法律和安全技术，我们可能无法立即从备份系统中删除相应的信息，我们将安全地存储您的个人信息并将其与任何进一步处理隔离，直到备份可以清除或实现匿名。<br>
                （四）注销您的账户<br>
                您可以在相关页面提交账户注销申请。<br>
                在您主动注销账户之后，我们将停止为您提供产品或服务，根据适用法律的要求删除您的个人信息，或使其匿名化处理。<br>
                （五）约束信息系统自动决策<br>
                在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制做出决定。如果这些决定显著影响您的合法权益，您有权要求我们做出解释，我们也将在不侵害寺库网商业秘密或其他用户权益、社会公共利益的前提下提供申诉方法。<br>
                （六）响应您的上述请求<br>
                为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。<br>
                我们将在30天内做出答复。如您不满意，还可以通过TRECA线上商城客服发起投诉。<br>
                对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将酌情收取一定费用。对于与您的身份不直接关联的信息、无端重复信息，或者需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者不切实际的请求，我们可能会予以拒绝。<br>
                在以下情形中，按照法律法规要求，我们将无法响应您的请求：<br>
                1、与国家安全、国防安全有关的；<br>
                2、与公共安全、公共卫生、重大公共利益有关的；<br>
                3、与犯罪侦查、起诉、审判和执行判决等有关的；<br>
                4、有充分证据表明个人信息主体存在主观恶意或滥用权利的；<br>
                5、响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的；<br>
                6、涉及商业秘密的。<br>
                   六、我们如何处理未成年人的信息<br>
                我们的产品，网站和服务主要面向成人。如果没有父母或监护人的同意，未成年人不得创建自己的用户账户。如您在TRECA线上商城申请注册账号，我们将默认为您已得到前述同意。我们将根据国家相关法律法规及本政策的规定保护未成年人的个人信息。<br>
                对于经父母或监护人同意使用我们的产品或服务而收集未成年人个人信息的情况，我们只会在法律法规允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用、共享、转让或披露此信息。<br>
                如果我们发现自己在未实现获得可证实的父母同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。<br>
                七、本隐私权政策如何更新<br>
                我们的隐私权政策可能变更。<br>
                未经您明确同意，我们不会限制您按照本隐私权政策所应享有的权利。我们会在TRECA线上商城发布对隐私权政策所做的任何变更。<br>
                对于重大变更，我们还会提供更为显著的通知（例如我们会通过TRECA线上商城公示的方式进行通知，甚至向您提供弹窗提示）。<br>
                本政策所指的重大变更包括但不限于：<br>
                1、我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；<br>
                2、我们在控制权等方面发生重大变化。如并购重组等引起的信息控制者变更等；<br>
                3、个人信息共享、转让或公开披露的主要对象发生变化；<br>
                4、您参与个人信息处理方面的权利及其行使方式发生重大变化；<br>
                5、我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化；<br>
                6、个人信息安全影响评估报告表明存在高风险。<br>
                我们还会将本隐私政策的旧版本存档，供您查阅。<br>
                  八、如何联系我们<br>
                您可以通过以下方式与我们联系，我们将在30天内回复您的请求。如对本政策内容有任何疑问、意见或建议，您可通过400-895-1922与我们联系；<br>
                如果您对我们的回复不满意，特别是您认为我们的个人信息处理行为损害了您的合法权益，您还可以向网信、电信、公安及工商等监管部门进行投诉或举报。<br>
              </p>
            </div>
            <div class="form-container reading">
              <div class="ipt-group">
                <input type="checkbox" class="checkbox" name="agreeValue">
                <span>我已仔细阅读、理解并接受 www.treca.cn/ 网站的 隐私政策新标签 及
                  一般销售条款新标签。且已知悉并同意自2019年11月4日起，发生箱包类产品购买后七天内无理由退货时，产品退回所产生的运费及运输风险将由我自行承担。移除上述任意一件产品的商标标识及/或标识标签，即视为该件产品已经被使用，将无法退换货。</span>
              </div>
            </div>
            <button class="sub-btn">确认并付款</button>
          </div>
        </div>
        <div class="content-right">
          <div class="title">订单明细</div>
          <div class="product-list">
            {{volist name="cart_list" id="vo"}}
            <div class="product-item">
              <div class="product-img">
                <img src="{{$vo.images}}" alt="">
              </div>
              <div class="product-infos">
                <h4 class="product-name">{{$vo.title}}</h4>
                {{volist name="$vo.spec" id = "sp"}}
                <p style="color: #666666;">{{$sp.type}}: <span>{{$sp.value}}</span></p>
                {{/volist}}
                <p class="price">¥{{$vo.price}}<span>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;{{$vo.stock}}</span></p>
              </div>
            </div>
            {{/volist}}
          </div>
          <div class="price-total">
            <p class="xj">小计 <span>¥{{$base.total_price}}</span></p>
            <p class="ps">配送 <span>¥0.00</span></p>
          </div>
          <div class="price-total">
            <p class="all">总计 <span>¥{{$base.total_price}}</span></p>
          </div>
          {{volist name="user_address_list" id="vo"}}
          <div class="address-hide" style="height: 0;overflow: hidden;" data-id="{{$vo.id}}"
            data-default="{{$vo.is_default}}">
            <p class="name">{{$vo.name}}</p>
            <p class="addr">{{$vo.province_name}}{{$vo.city_name}}{{$vo.county_name}}{{$vo.address}}</p>
            <p class="tel">{{$vo.tel}}</p>
          </div>
          {{/volist}}
        </div>
      </div>
    </form>
  </div>
  {{include file="public/footer" /}}
  <script>
    var onOff = false;
    function addColor() {
      if (onOff) {
        var params = $(".zf-page form").serializeArray();
        var values = {};
        var x;
        for (x in params) {
          values[params[x].name] = params[x].value;
        };
        if (values.needRecite && !values.invoiceTxt) {
          $('.invoiceTxt').css({ border: '1px solid red' });
        } else {
          $('.invoiceTxt').css({ border: '1px solid #d2d2d2' });
        };
        if (!values.zfway) {
          $('.zf-container .ipt-content').css({ border: '1px solid red' });
        } else {
          $('.zf-container .ipt-content').css({ border: '1px solid #8d6945' });
        };
      }
    };
    $(function () {
      $('.tk').on("mousewheel DOMMouseScroll", function (e) {
        if (e && e.stopPropagation) {
          e.stopPropagation();
        } else {
          window.event.cancelBubble = true;
        }
      });
      var address_id = undefined;
      $('.address-hide').each(function () {
        if ($(this).attr('data-default') == 1) {
          address_id = $(this).attr('data-id');
        }
      });
      if (!address_id) {
        window.location.href = "/pay/step1";
        return false;
      };
      var ids = [];
      getCartList();
      function getCartList() {
        let options = {
          url: '/api/cart',
          type: 'get',
          dataType: 'JSON',
          getresult: function (data) {
            cartList = data.data.data;
            if (data.code == 0) {
              for (var i = 0; i < cartList.length; i++) {
                ids.push(cartList[i].id);
              }
            }
          }
        };
        sendRequest(options.url, options.type, '', options.getresult);
      };
      function smallNav() {
        if ($(window).width() > 992) {
          $('.logo-chanel').addClass('translatehide');
          $('.navbar').addClass('fixed');
          $('header').addClass('fixed');
          $('.slide-cart').addClass('scrolling');
        };
      };

      function postOrderAdd() {
        var params = $(".zf-page form").serializeArray();
        var values = {};
        var x;
        for (x in params) {
          values[params[x].name] = params[x].value;
        };
        onOff = true;
        addColor();
        if (values.needRecite && !values.invoiceTxt) {
          let txt = "您的发票信息不完整，请重新填写！";
          layer.msg(txt);
          var backtopNum = Number($('.need-invoice')[0].offsetTop) - 40;
          $('html,body').animate({ 'scrollTop': backtopNum }, 400);
          smallNav();
          $('.invoiceTxt').focus();
          return false;
        }
        if (!values.zfway) {
          let txt = "请选择您的支付方式。";
          var backtopNum = Number($('.zf-container')[0].offsetTop) - 60;
          $('html,body').animate({ 'scrollTop': backtopNum }, 400);
          smallNav();
          layer.msg(txt);
          return false;
        }
        if (!values.agreeValue) {
          let txt = "请仔细阅读协议并同意协议内容。";
          layer.msg(txt);
          return false;
        }
          var options = {
            url: '/order/add',
            type: 'post',
            data: {
              payment_id: values.zfway,
              address_id: address_id,
              buy_type:'cart',
              ids: ids.join(','),
            },
            dataType: 'JSON',
            getresult: function(data) {
              if(data.code==0){
                window.location.href="/order/pay/index";
              }else{
                layer.msg(data.msg);
              };
            },

        }
        sendRequest(options.url, options.type, options.data, options.getresult);
      };

      let checkboxFlag = false;
      $('.need-checkbox').click(function () {
        checkboxFlag = !checkboxFlag;
        if (checkboxFlag) {
          $('.invoice-container').stop().slideDown();
        } else {
          $('.invoice-container').stop().slideUp();
        }
      });
      $('.sub-btn').click(function (e) {
        e.preventDefault();
        postOrderAdd()
      });
    });
  </script>
</body>

</html>