<!DOCTYPE html >
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta http-equiv="pragma" content="no-cache"> 
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
  <meta http-equiv="expires" content="0">
  <title>崔佧</title>
  <link rel="stylesheet" href="__CSS__/swiper.min.css">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__CSS__/base.min.css">
  <link rel="stylesheet" href="__CSS__/product-style.min.css">
  <script src="__JS__/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="__JS__/main.js"></script>
</head>
<body>
  <!-- 头部 -->
  <header>
      <div class="navbar">
        <div class="search-btns">
          <span>线下体验店</span>
          <div class="search-form">
            <form>
              <input class="search-ipt" type="text" placeholder="搜索">
              <i class="search-icon-box"><img class="search-icon" src="__IMAGE__/search.png" alt=""></i>
            </form>
          </div>
        </div>
        <div class="logo-chanel">
          <a href="/"><img src="__IMAGE__/logo.png" alt=""></a>
        </div>
        <div class="navbar-btns">
          <span class="personal"><a href=""><img src="__IMAGE__/personal.png" alt=""></a></span>
          <span><a href="">CN</a> <a href="">/EN</a></span>
          <span><a href="">法国官网</a></span>
        </div>
      </div>
      <div class="navigation-menu">
        <div class="menu-toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-list">
          <div class="menu-item">
            <div class="item-title hasdrop"><a href="./product-cd-index.html">床垫</a><div class="toggle-btn"></div></div>
            <div class="drop-down">
              <a href="./product-cd-wuxian.html">无限系列</a>
              <a href="./product-cd-xqzb.html">星球坐标系列</a>
              <a href="./product-cd-mengjing.html">梦境系列</a>
              <a href="">梅尔系列</a>
              <a href="">雷克索方系列</a>
            </div>
          </div>
          <div class="menu-item">
            <div class="item-title hasdrop"><a href="./product-cj-index.html">床架</a><div class="toggle-btn"></div></div>
            <div class="drop-down">
              <a href="./product-cj-wuxian.html">无限系列</a>
              <a href="./product-cj-xqzb.html">星球坐标系列</a>
              <a href="./product-cj-mengjing.html">梦境系列</a>
              <a href="">梅尔系列</a>
              <a href="">雷克索方系列</a>
            </div>
          </div>
          <div class="menu-item">
            <div class="item-title"><a href="product-pj-index.html">配件</a></div>
          </div>
          <div class="menu-item">
            <div class="item-title"><a href="../originality/jx.html">匠心工艺</a></div>
            <div class="drop-down">
              <a href="../originality/bnjx.html">匠心</a>
              <a href="../originality/workman.html">匠人</a>
              <a href="../originality/virginMaterial.html">珍材</a>
            </div>
          </div>
          <div class="menu-item">
            <div class="item-title"><a href="brandStory.html">百年崔佧</a></div>
          </div>
        </div>
      </div>
    </header>
  <!-- 头部 -->

  <!-- 床头柜系列 -->
  <main>
    <div class="z-product-main z-product">
      <section class="s1 container">
        <div class="title">
          <h4 class="b-t">一室之内，整整齐齐</h4>
          <p><span class="text-uppercase">时光在此间流离，静静沉淀</span></p>
        </div>
      </section>
      <section class="container">
        <div class="banner banner-pj">
            <img src="__IMAGE__/pj_wuxian_banner.jpg" alt="banner图">
        </div>

        <div class="content">
          <div class="content-left">
            <h3 class="title">按条件筛选:</h3>
            <div class="nav-content">
              <ul class="nav-list">
                <li class="nav-menu">
                  <p class="nav-menu-btn">品类
                      <span class="icon-height"></span>
                      <span class="icon-width"></span>
                  </p>
                  
                  <ul class="nav-son-list">
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>床架</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>床垫</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>配件</a></li>
                  </ul>
                </li>
                <li class="nav-menu">
                  <p class="nav-menu-btn">系列
                      <span class="icon-height down"></span>
                      <span class="icon-width down"></span>
                  </p>
                  <ul class="nav-son-list">
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span class="checked"></span>枕头</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>床头柜</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>床尾凳</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>功能椅</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>其他</a></li>
                  </ul>
                </li>
                <li class="nav-menu">
                  <p class="nav-menu-btn">硬度
                      <span class="icon-height"></span>
                      <span class="icon-width"></span>
                  </p>
                  <ul class="nav-son-list">
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>N级硬度</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>N级硬度</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>N级硬度</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>N级硬度</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>N级硬度</a></li>
                  </ul>
                </li>
                <li class="nav-menu">
                  <p class="nav-menu-btn">面料
                      <span class="icon-height"></span>
                      <span class="icon-width"></span>
                  </p>
                  <ul class="nav-son-list">
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>棉质衬垫</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>超细纤维蚕丝</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>山羊绒</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>马海毛</a></li>
                    <li class="nav-son-item"><a href="./product-pj-detail.html:;"><span></span>天然乳胶</a></li>
                  </ul>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="content-right">
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="product-pj-detail.html">
                  <div class="item-top">
                    <div class="img">
                        <img src="__IMAGE__/pj_wuxian01.jpg" alt="产品图片">
                    </div>
                    <div class="word">
                      <p>床头柜</p>
                      <p>¥16,990</p>
                    </div>
                  </div>
                  <div class="item-bottom">
                    <div class="shop"><button class="btn">加入购物袋</button></div>
                    <a href="product-pj-detail.html" class="more">进一步了解 ></a>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </section>
    </div>
  </main>
<!-- 床头柜系列 -->

<!-- 底部 -->
<footer>
    <div class="footer-nav">
      <div class="nav-list">
        <div class="list-item">
          <div class="title">选购及了解</div>
          <div class="item-link"><a href="./product-cd-index.html">床垫</a></div>
          <div class="item-link"><a href="./product-cj-index.html">床架</a></div>
          <div class="item-link"><a href="product-pj-index.html">配件</a></div>
        </div>
        <div class="list-item">
          <div class="title">联系我们</div>
          <div class="item-link"><a href="../about/contactUs.html">公司地址</a></div>
          <div class="item-link"><a href="../about/contactUs.html">门店导航</a></div>
          <div class="item-link"><a href="../about/zsjm.html">招商加盟</a></div>
        </div>
        <div class="list-item">
          <div class="title">购物帮助</div>
          <div class="item-link"><a href="">在线支付</a></div>
          <div class="item-link"><a href="">分期付款</a></div>
          <div class="item-link"><a href="">换购计划</a></div>
          <div class="item-link"><a href="">订单状态</a></div>
          <div class="item-link"><a href="">退/换货</a></div>
        </div>
        <div class="list-item">   
          <div class="title">常见问题</div>
          <div class="item-link"><a href="../problem/faq.html">如何挑选</a></div>
          <div class="item-link"><a href="">售后质保</a></div>
          <div class="item-link"><a href="">产品定制</a></div>
        </div>
        <div class="list-item">
          <div class="title">关于崔佧</div>
          <div class="item-link"><a href="../news/news.html">崔佧资讯</a></div>
          <div class="item-link"><a href="../recruit/joinUs.html">加入我们</a></div>
          <div class="item-link"><a href="../about/contactUs.html">联系崔佧</a></div>
          <div class="item-link"><a href="">公益责任</a></div>
          <div class="item-link"><a href="">隐私政策</a></div>
        </div>
      </div>
      <div class="qr-list">
        <div class="list-item">
          <div class="title">官方微信</div>
          <div class="item-link"><img src="__IMAGE__/wchat.jpg" alt=""></div>
        </div>
        <div class="list-item">
          <div class="title">官方微博</div>
          <div class="item-link"><img src="__IMAGE__/wbo.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <p>COPYRIGHT ©2019 TRECA ALL RIGHTSRESERVED 粤ICP备19075717号</p>
    </div>

  </footer>
<!-- 底部 -->

<script>

  
  $('.nav-list .nav-menu .nav-menu-btn').on("click",function() {
    let idx = $(this).index();
      $(this).find('.icon-height').toggleClass('down');
      $(this).find('.icon-width').toggleClass('down');

      const navSon = $(this).parent().find('.nav-son-list');
      if(navSon.is(":hidden")){
        navSon.slideDown();
      }else {
        navSon.slideUp();
      }
      
});

</script>
</body>
</html>