<!DOCTYPE html >
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta http-equiv="pragma" content="no-cache"> 
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
  <meta http-equiv="expires" content="0">
  <title>崔佧</title>
  <link rel="stylesheet" href="__CSS__/swiper.min.css">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__CSS__/base.min.css">
  <link rel="stylesheet" href="__CSS__/product-style.min.css">
  <script src="__JS__/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="__JS__/main.js"></script>
</head>
<body>
  <!-- 头部 -->
  {{include file="public/header" /}}
  <!-- 头部 -->

  <!-- 床架聚合页 -->
  <main>
    <div class="z-product-main z-product-page">
      <section class="container">
        <div class="banner banner-pj">
          <img src="__IMAGE__/pj_index_banner.jpg" alt="banner图">
        </div>

        <div class="content">
          <!-- 枕头系列 -->
          <div class="content-1">
              <div class="row">
                <div class="col-md-8">
                  <div class="video">
                    <video src="" poster="__IMAGE__/pj_index_bg01.jpg"></video>
                    <p class="video-btn"><span></span></p>
                  </div>
                </div>
                <div class="col-md-4 info-layout">
                  <div class="info">
                    <h3 class="text-uppercase">枕头系列</h3>
                    <!-- <div>
                        <p>联合知名设计师倾力打造，将艺术美学与传统工艺融合，让您感受TRECA匠心传承的完美体验。</p>
                    </div> -->
                    <a href="./product-pj-zt.html" class="link-more">了解系列详情 ></a>
                  </div>
                </div>
              </div>
      
              <div class="content-product">
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>旅行枕</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
              </div>
          </div>
          <!-- 床头柜系列 -->
          <div class="content-1">
            
              <div class="row">
                <div class="col-md-4 info-layout info-layout-2">
                  <div class="info">
                    <h3 class="text-uppercase">床头柜系列</h3>
                    <!-- <div>
                        <p>甄选高品质皇室面料，采用3D立体缝绣工艺，在家感受皇室宫廷的奢华。</p>
                    </div> -->
                    <a href="./product-pj-ctg.html" class="link-more">了解系列详情 ></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="video video-2">
                    <video src="" poster="__IMAGE__/pj_index_bg02.jpg"></video>
                    <p class="video-btn"><span></span></p>
                  </div>
                </div>
              </div>
      
              <div class="content-product">
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product02.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>床头柜</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product02.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>床头柜</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product02.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>床头柜</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-pj-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/pj_index_product02.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>床头柜</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
              </div>
          </div>
          <!-- 床尾凳系列 -->
          <div class="content-1">
              
                <div class="row">
                  <div class="col-md-8">
                    <div class="video">
                      <video src="" poster="__IMAGE__/pj_index_bg03.jpg"></video>
                      <p class="video-btn"><span></span></p>
                    </div>
                  </div>
                  <div class="col-md-4 info-layout">
                    <div class="info">
                      <h3 class="text-uppercase">床尾凳系列</h3>
                      <!-- <div>
                          <p>一针一线的温暖缝制，面料对花精准细密，实现在主题、感觉、外观和原料等方面的极致奢华。</p>
                      </div> -->
                      <a href="./product-pj-cwd.html" class="link-more">了解系列详情 ></a>
                    </div>
                  </div>
                </div>
        
                <div class="content-product">
                  <div class="item">
                    <a href="./product-pj-detail.html">
                        <div class="img">
                          <img src="__IMAGE__/pj_index_product03.jpg" alt="产品图">
                        </div>
                        <div class="word">
                            <h3>床尾凳</h3>
                            <p>￥16,990</p>
                        </div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="./product-pj-detail.html">
                        <div class="img">
                          <img src="__IMAGE__/pj_index_product03.jpg" alt="产品图">
                        </div>
                        <div class="word">
                            <h3>床尾凳</h3>
                            <p>￥16,990</p>
                        </div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="./product-pj-detail.html">
                        <div class="img">
                          <img src="__IMAGE__/pj_index_product03.jpg" alt="产品图">
                        </div>
                        <div class="word">
                            <h3>床尾凳</h3>
                            <p>￥16,990</p>
                        </div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="./product-pj-detail.html">
                        <div class="img">
                          <img src="__IMAGE__/pj_index_product03.jpg" alt="产品图">
                        </div>
                        <div class="word">
                            <h3>床尾凳</h3>
                            <p>￥16,990</p>
                        </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </main>
<!-- 床架聚合页 -->


<!-- 底部 -->
<footer>
    <div class="footer-nav">
      <div class="nav-list">
        <div class="list-item">
          <div class="title">选购及了解</div>
          <div class="item-link"><a href="./product-cd-index.html">床垫</a></div>
          <div class="item-link"><a href="product-cj-index.html">床架</a></div>
          <div class="item-link"><a href="product-pj-index.html">配件</a></div>
        </div>
        <div class="list-item">
          <div class="title">联系我们</div>
          <div class="item-link"><a href="../about/contactUs.html">公司地址</a></div>
          <div class="item-link"><a href="../about/contactUs.html">门店导航</a></div>
          <div class="item-link"><a href="../about/zsjm.html">招商加盟</a></div>
        </div>
        <div class="list-item">
          <div class="title">购物帮助</div>
          <div class="item-link"><a href="">在线支付</a></div>
          <div class="item-link"><a href="">分期付款</a></div>
          <div class="item-link"><a href="">换购计划</a></div>
          <div class="item-link"><a href="">订单状态</a></div>
          <div class="item-link"><a href="">退/换货</a></div>
        </div>
        <div class="list-item">   
          <div class="title">常见问题</div>
          <div class="item-link"><a href="../problem/faq.html">如何挑选</a></div>
          <div class="item-link"><a href="">售后质保</a></div>
          <div class="item-link"><a href="">产品定制</a></div>
        </div>
        <div class="list-item">
          <div class="title">关于崔佧</div>
          <div class="item-link"><a href="../news/news.html">崔佧资讯</a></div>
          <div class="item-link"><a href="../recruit/joinUs.html">加入我们</a></div>
          <div class="item-link"><a href="../about/contactUs.html">联系崔佧</a></div>
          <div class="item-link"><a href="">公益责任</a></div>
          <div class="item-link"><a href="">隐私政策</a></div>
        </div>
      </div>
      <div class="qr-list">
        <div class="list-item">
          <div class="title">官方微信</div>
          <div class="item-link"><img src="__IMAGE__/wchat.jpg" alt=""></div>
        </div>
        <div class="list-item">
          <div class="title">官方微博</div>
          <div class="item-link"><img src="__IMAGE__/wbo.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <p>COPYRIGHT ©2019 TRECA ALL RIGHTSRESERVED 粤ICP备19075717号</p>
    </div>

  </footer>
<!-- 底部 -->
<script>
  $('.navigation-menu .menu-item').eq(2).addClass('on').siblings().removeClass('on');
</script>
</body>
</html>