<!DOCTYPE html >
<html lang="en">
<!-- head -->
{{include file="/public/head"}}
<link rel="stylesheet" href="__CSS__/product-style.min.css">
<!-- head -->
<body>
  <!-- 头部 -->
  {{include file="/public/header"}}
  <!-- 头部 -->

  <!-- 配件详情页 -->
  <main>
    <div class="z-product-main z-product z-product-detail">
      <section class="s1 container">
        <div class="title">
          <h4 class="b-t">遇见崔佧，遇见美梦</h4>
          <p><span class="text-uppercase">Meet cui Ka, met a dream</span></p>
          <p class="word">入夜，枕着崔佧枕头<br/>
              仿佛置身于云朵的柔软中<br/>
              全效承托，舒爽安眠<br/>
              用枕头编制出浪漫醉人的梦</p>
        </div>
      </section>

      <section class="container">
        <div class="banner banner-pj">
            <img src="__IMAGE__/product_pj_detail01.jpg" alt="banner图">
        </div>

        <div class="content">
          <div class="content-top">
            <div class="item">
              <div class="img">
                <img src="__IMAGE__/product_pj_detail02.jpg" alt="详情图片">
              </div>
              <div class="test">
                <h3 class="title">紧密贴服，深层呵护</h3>
                <p>贴服颈部曲线，支撑头部重量 提供高品质睡眠</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="__IMAGE__/product_pj_detail03.jpg" alt="详情图片">
              </div>
              <div class="test">
                <h3 class="title">珍选纯天然材质，舒享健康睡眠</h3>
                <p>精选天然大豆纤维棉，根据压力变化而调整充分释放颈部压力</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="__IMAGE__/product_pj_detail04.jpg" alt="详情图片">
              </div>
              <div class="test">
                <h3 class="title">高科技宇航技术，调节睡眠微环境</h3>
                <p>运用美国宇航局Outlast® 专利技术<br/>
                    主动调节温度，不冷不热，刚刚好</p>
              </div>
            </div>
          </div>
          <div class="content-center">
            <div class="title common-title">
              <h3>免费私人定制</h3>
              <p>发现专属您的睡眠R角</p>
            </div>
            <div class="layout-content">
              <div class="layout">
                <div class="img">
                  <img src="__IMAGE__/product_pj_detail05.jpg" alt="产品详情图">
                </div>
                <div class="test">
                  <div class="word">
                    <!-- <h4>夏季面</h4> -->
                    <p>R角为一个特殊弧度<br/>
                        通过个人睡眠习惯+颈部与脊椎的需求数据换算而出<br/>
                        随着头部360度不同的翻动<br/>
                        提供人体睡眠过程中完美的包覆与支撑</p>
                  </div>
                  <!-- <div class="word word-2">
                    <h4>夏季面</h4>
                    <p>Air spring®弹簧搭配软绵泡沫、幼驼毛、幼羊驼绒、优质白棉</p>
                  </div> -->
                  <div class="btn-shop">
                    <a href="#">加入购物袋 ></a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="content-bottom">
              <div class="title common-title">
                <h3>优选推荐</h3>
                <p>搭配周边各种床架、床头柜、床尾凳、功能椅等配件产品</p>
                  <div class="btn-shop">
                    <a href="#">选购床垫配件 ></a>
                  </div>
              </div>
              <div class="layout-content">
                <div class="layout">
                  <div class="item">
                    <a href="#">
                      <div class="img">
                        <img src="__IMAGE__/product_cd_detail06.jpg" alt="推荐图片">
                      </div>
                      <div class="btn-shop">
                        <a href="#">床架 ></a>
                      </div>
                    </a>
                    
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="img">
                        <img src="__IMAGE__/product_cd_detail07.jpg" alt="推荐图片">
                      </div>
                      <div class="btn-shop">
                        <a href="#">床头柜 ></a>
                      </div>
                    </a>
                    
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="img">
                        <img src="__IMAGE__/product_cd_detail08.jpg" alt="推荐图片">
                      </div>
                      <div class="btn-shop">
                        <a href="#">床尾凳 ></a>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </div>
          </div>

          <!-- 购买帮助 -->
          <div class="shop-flow">
            <dl class="list">
              <dt>送货入户及安装</dt>
              <dd>专业服务人员送货入户,并提供免费安装服务</dd>
              <dd><a href="#">了解详情 ></a></dd>
            </dl>
            <dl class="list">
              <dt>获得选购帮助</dt>
              <dd>结合自身睡眠习惯,挑选最适合的舒适床垫</dd>
              <dd><a href="#">了解详情 ></a></dd>
            </dl>
            <dl class="list">
              <dt>售后质保服务</dt>
              <dd>十年超长质保服务,尊享以旧换新服务</dd>
              <dd><a href="#">了解详情 ></a></dd>
            </dl>
            <dl class="list">
              <dt>产品个性定制</dt>
              <dd>根据不同需求,定制专属产品<br/>
                请致电400-895-1922</dd>
              <dd><a href="#">了解详情 ></a></dd>
            </dl>
          </div>
          <!-- 购买帮助 -->

          <!-- 底部购买 -->
          <div class="shop-foot">
            <div class="layout-content">
              <div class="item item-1">
                <div class="img">
                  <img src="__IMAGE__/product_pj_detail09.png" alt="详情产品图">
                </div>
              </div>
              <div class="item item-2">
                <h3 class="title">旅行枕</h3>
                <div class="test-box">
                  <div class="test">
                    <p>所属系列：Infinite系列</p>
                    <p>床垫型号IN-M006</p>
                    <p>分层3级+6级硬度</p>
                  </div>
                  <div class="test test-2">
                    <p>高度：31cm</p>
                    <p>独立袋装弹簧+Pullman®弹簧</p>
                    <p>16/10th/22/10th</p>
                    <p>扁边框/拉扣技术</p>
                  </div>
                </div>
               
              </div>
              <div class="item item-3">
                <div class="shop-box">
                  <div class="shop shop-cart"><a>加入购物袋</a></div>
                  <div class="shop shopping"><a>立即购买</a></div>
                </div>
                <div class="collect-box">
                  <div class="collect"><span class="star"></span><span>收藏 ></span></div>
                  <a href="#">线下体验 ></a>
                </div>
              </div>
              <div class="btn-close"></div>
            </div>
          </div>
          <div class="shopping-btn">
            <p>立<br/>即<br/>购<br/>买</p>
          </div>
          <!-- 底部购买 -->

        </div>
      </section>
    </div>
  </main>
<!-- 配件详情页 -->


  <!-- 底部 -->
  {{include file="/public/footer"}}
  <!-- 底部 -->

<script>

  
  $('.btn-close').click(function() {
    $('.shop-foot').animate({
      'bottom': -231
    },1000);
    $('.shopping-btn').animate({
      'left': 0
    },1000);
  });
  
  $('.shopping-btn').click(function() {
    $('.shop-foot').animate({
      'bottom': 0
    },1500);
    $(this).animate({
      'left': -44
    },1000);
  });

</script>
</body>
</html>