<!DOCTYPE html >
<html lang="en">

<!-- head -->
{{include file="/public/head"}}
<link rel="stylesheet" href="__CSS__/product-style.min.css">
<!-- head -->

<body>
  <!-- 头部 -->
  {{include file="/public/header"}}
  <!-- 头部 -->

<!-- 床垫详情页 -->
<main>
  <div class="z-product-main z-product z-product-detail">

    <div class="content-web am-scrollable-horizontal">{{$details.content_web|raw}}</div>

    <section class="s1 container">
      <div class="title">
        <h4 class="b-t">香水巴黎</h4>
        <p><span class="text-uppercase">MATELAS FRAGRANCE DE PARIS</span></p>
        <p class="word">塞纳河的波光穿过香榭丽舍大街，吟诵着诗歌与玫瑰，梧桐树下腾起浪漫香气，再浪漫的梦境，不过如此</p>
      </div>
    </section>

    <section class="container">
      <div class="banner">
        <img src="__IMAGE__/product_cd_detail01.jpg" alt="banner图">
      </div>
      <div class="content">
        <div class="content-top">
          <div class="item">
            <div class="img">
              <img src="__IMAGE__/product_cd_detail02.jpg" alt="详情图片">
            </div>
            <div class="test">
              <h3 class="title">纯手工缝制</h3>
              <p>一针一线传承手工工匠对细节的极致追求,从包边、缝制、整理等层层工序，均由手工完成。</p>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="__IMAGE__/product_cd_detail03.jpg" alt="详情图片">
            </div>
            <div class="test">
              <h3 class="title">一生一次，弥足珍贵</h3>
              <p>崔佧使用的羊驼绒和幼驼绒均来自这些珍贵生物出生后第一次剪下来的绒毛，更细腻温软。</p>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="__IMAGE__/product_cd_detail04.jpg" alt="详情图片">
            </div>
            <div class="test">
              <h3 class="title">安吉丽娜·朱莉 同款床垫</h3>
            </div>
          </div>
        </div>
        <div class="content-center">
          <div class="title common-title">
            <h3>不同季节，相同呵护</h3>
            <p>双面珍选符合不同季节睡眠舒适度的填充与面料，不惧四季交替，温软始终如一</p>
          </div>
          <div class="layout-content">
            <div class="layout">
              <div class="img">
                <img src="__IMAGE__/product_cd_detail05.png" alt="产品详情图">
              </div>
              <div class="test">
                <div class="word">
                  <h4>夏季面</h4>
                  <p>Pullman®弹簧搭配 软绵泡沫、超细纤维蚕丝、优质白棉</p>
                </div>
                <div class="word word-2">
                  <h4>冬季面</h4>
                  <p>Air spring®弹簧搭配软绵泡沫、幼驼毛、幼羊驼绒、优质白棉</p>
                </div>
                <div class="btn-shop">
                  <a href="#">加入购物袋 ></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="content-bottom">
          <div class="title common-title">
            <h3>优选推荐</h3>
            <p>搭配周边各种床架、床头柜、床尾凳、功能椅等配件产品</p>
            <div class="btn-shop">
              <a href="#">选购床垫配件 ></a>
            </div>
          </div>
          <div class="layout-content">
            <div class="layout">
              <div class="item">
                <a href="#">
                  <div class="img">
                    <img src="__IMAGE__/product_cd_detail06.jpg" alt="推荐图片">
                  </div>
                  <div class="btn-shop">
                    <a href="#">床架 ></a>
                  </div>
                </a>

              </div>
              <div class="item">
                <a href="#">
                  <div class="img">
                    <img src="__IMAGE__/product_cd_detail07.jpg" alt="推荐图片">
                  </div>
                  <div class="btn-shop">
                    <a href="#">床头柜 ></a>
                  </div>
                </a>

              </div>
              <div class="item">
                <a href="#">
                  <div class="img">
                    <img src="__IMAGE__/product_cd_detail08.jpg" alt="推荐图片">
                  </div>
                  <div class="btn-shop">
                    <a href="#">床尾凳 ></a>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>

        <!-- 购买帮助 -->
        <div class="shop-flow">
          <dl class="list">
            <dt>送货入户及安装</dt>
            <dd>专业服务人员送货入户<br/>并提供免费安装服务</dd>
            <dd><a href="#">了解详情 ></a></dd>
          </dl>
          <dl class="list">
            <dt>获得选购帮助</dt>
            <dd>结合自身睡眠习惯<br/>挑选最适合的舒适床垫</dd>
            <dd><a href="#">了解详情 ></a></dd>
          </dl>
          <dl class="list">
            <dt>售后质保服务</dt>
            <dd>十年超长质保服务<br/>尊享以旧换新服务</dd>
            <dd><a href="#">了解详情 ></a></dd>
          </dl>
          <dl class="list">
            <dt>产品个性定制</dt>
            <dd>根据不同需求,定制专属产品<br/>
              请致电400-895-1922</dd>
            <dd><a href="#">了解详情 ></a></dd>
          </dl>
        </div>
        <!-- 购买帮助 -->

        <!-- 底部购买 -->
        <div class="shop-foot">
          <div class="layout-content">
            <div class="item item-1">
              <div class="img">
                <img src="{{$details.images}}" alt="详情产品图">
              </div>
            </div>
            <div class="item item-2">
              <h3 class="title">{{$details.title}}</h3>
              <div class="test-box">
                <div class="test">
                  {{if !empty($web_bottom_params.left)}}
                  {{foreach $web_bottom_params.left as $attr}}
                  <p>{{$attr}}</p>
                  {{/foreach}}
                  {{/if}}
                </div>
                <div class="test test-2">
                  {{if !empty($web_bottom_params.right)}}
                  {{foreach $web_bottom_params.right as $attr}}
                  <p>{{$attr}}</p>
                  {{/foreach}}
                  {{/if}}
                </div>
              </div>

            </div>
            <div class="item item-3">
              <div class="shop-box">
                <div class="shop shop-cart"><a>加入购物袋</a></div>
                <div class="shop shopping"><a>立即购买</a></div>
              </div>
              <div class="collect-box">
                <div class="collect"><span class="star"></span><span>收藏 ></span></div>
                <a href="#">线下体验 ></a>
              </div>
            </div>
            <div class="btn-close"></div>
          </div>
        </div>

        <div class="shopping-btn">
          <p>立<br/>即<br/>购<br/>买</p>
        </div>
        <!-- 底部购买 -->

      </div>
    </section>
  </div>
</main>
<!-- 床垫详情页 -->


  <!-- 底部 -->
  {{include file="/public/footer"}}
  <!-- 底部 -->

<script>

  
  $('.btn-close').click(function() {
    $('.shop-foot').animate({
      'bottom': -231
    },1000);
    $('.shopping-btn').animate({
      'left': 0
    },1000);
  });
  
  $('.shopping-btn').click(function() {
    $('.shop-foot').animate({
      'bottom': 0
    },1500);
    $(this).animate({
      'left': -44
    },1000);
  });

</script>
</body>
</html>