<!DOCTYPE html >
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta http-equiv="pragma" content="no-cache"> 
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
  <meta http-equiv="expires" content="0">
  <title>崔佧</title>
  <link rel="stylesheet" href="__CSS__/swiper.min.css">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__CSS__/base.min.css">
  <link rel="stylesheet" href="__CSS__/product-style.min.css">
  <script src="__JS__/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.js"></script>
  <script src="__JS__/main.js"></script>
</head>
<body>
  <!-- 头部 -->
      {{include file="public/header" /}}
  <!-- 头部 -->

  <!-- 床垫聚合页 -->
  <main>
    <div class="z-product-main z-product-page">
      <section class="container">
        <div class="banner banner-cd">
          <img src="__IMAGE__/cd_index_banner.jpg" alt="banner图">
        </div>

        <div class="content">
          <!-- 无限系列 -->
          <div class="content-1">
              <div class="row">
                <div class="col-md-8">
                  <div class="video">
                    <video src="" poster="__IMAGE__/cd_index_bg01.jpg"></video>
                    <p class="video-btn"><span></span></p>
                  </div>
                </div>
                <div class="col-md-4 info-layout">
                  <div class="info cd-info">
                      <h3 class="text-uppercase">INFINITE无限系列</h3>
                      <span>梦旅的启程</span>
                    <div>
                        <p>将异国的想象，像绒毛般缓缓铺开，温柔以抚平， 一室有限，梦旅无限。</p>
                    </div>
                    <a href="product-cd-wuxian.html" class="link-more">了解系列详情 ></a>
                  </div>
                </div>
              </div>
      
              <div class="content-product">
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
              </div>
          </div>
          <!-- 星球坐标系列 -->
          <div class="content-1">
            
              <div class="row">
                <div class="col-md-4 info-layout info-layout-2">
                  <div class="info cd-info">
                    <h3 class="text-uppercase">TERREdessens星球坐标系列</h3>
                    <span>自然赋予的软</span>
                    <div>
                        <p>草木和工艺、自然和创造的平衡，在这个星球里，不期而遇。</p>
                    </div>
                    <a href="product-cd-xqzb.html" class="link-more">了解系列详情 ></a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="video video-2">
                    <video src="" poster="__IMAGE__/cd_index_bg02.jpg"></video>
                    <p class="video-btn"><span></span></p>
                  </div>
                </div>
              </div>
      
              <div class="content-product">
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
              </div>
          </div>
          <!-- 梦境系列 -->
          <div class="content-1">
              
              <div class="row">
                <div class="col-md-8">
                  <div class="video">
                    <video src="" poster="__IMAGE__/cd_index_bg03.jpg"></video>
                    <p class="video-btn"><span></span></p>
                  </div>
                </div>
                <div class="col-md-4 info-layout">
                  <div class="info cd-info">
                    <h3 class="text-uppercase">Micro-Climats梦境系列</h3>
                    <span>守护梦境的骑士</span>
                    <div>
                        <p>科技将温度与湿度驯服，好让梦境在最安适的环境下
                          自然生长。</p>
                    </div>
                    <a href="product-cd-mengjing.html" class="link-more">了解系列详情 ></a>
                  </div>
                </div>
              </div>
      
              <div class="content-product">
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
                <div class="item">
                  <a href="./product-cd-detail.html">
                      <div class="img">
                        <img src="__IMAGE__/cd_wuxian01.jpg" alt="产品图">
                      </div>
                      <div class="word">
                          <h3>玛格丽特床垫</h3>
                          <p>￥16,990</p>
                      </div>
                  </a>
                </div>
              </div>
          </div>
        </div>
        
        

      </section>
    </div>
  </main>
  <!-- 床垫聚合页 -->


<!-- 底部 -->
<footer>
    <div class="footer-nav">
      <div class="nav-list">
        <div class="list-item">
          <div class="title">选购及了解</div>
          <div class="item-link"><a href="product-cd-index.html">床垫</a></div>
          <div class="item-link"><a href="product-cj-index.html">床架</a></div>
          <div class="item-link"><a href="product-pj-index.html">配件</a></div>
        </div>
        <div class="list-item">
          <div class="title">联系我们</div>
          <div class="item-link"><a href="../about/contactUs.html">公司地址</a></div>
          <div class="item-link"><a href="../about/contactUs.html">门店导航</a></div>
          <div class="item-link"><a href="../about/zsjm.html">招商加盟</a></div>
        </div>
        <div class="list-item">
          <div class="title">购物帮助</div>
          <div class="item-link"><a href="">在线支付</a></div>
          <div class="item-link"><a href="">分期付款</a></div>
          <div class="item-link"><a href="">换购计划</a></div>
          <div class="item-link"><a href="">订单状态</a></div>
          <div class="item-link"><a href="">退/换货</a></div>
        </div>
        <div class="list-item">   
          <div class="title">常见问题</div>
          <div class="item-link"><a href="../problem/faq.html">如何挑选</a></div>
          <div class="item-link"><a href="">售后质保</a></div>
          <div class="item-link"><a href="">产品定制</a></div>
        </div>
        <div class="list-item">
          <div class="title">关于崔佧</div>
          <div class="item-link"><a href="../news/news.html">崔佧资讯</a></div>
          <div class="item-link"><a href="../recruit/joinUs.html">加入我们</a></div>
          <div class="item-link"><a href="../about/contactUs.html">联系崔佧</a></div>
          <div class="item-link"><a href="">公益责任</a></div>
          <div class="item-link"><a href="">隐私政策</a></div>
        </div>
      </div>
      <div class="qr-list">
        <div class="list-item">
          <div class="title">官方微信</div>
          <div class="item-link"><img src="__IMAGE__/wchat.jpg" alt=""></div>
        </div>
        <div class="list-item">
          <div class="title">官方微博</div>
          <div class="item-link"><img src="__IMAGE__/wbo.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <p>COPYRIGHT ©2019 TRECA ALL RIGHTSRESERVED 粤ICP备19075717号</p>
    </div>

  </footer>

<!-- 底部 -->
</body>
</html>